<!-- User Profile Component UI Template -->
<div class="profile-container">
  <div class="settings-header">
    <h2>User Profile</h2>
    <div class="settings-header-buttons">
      <button class="control-button primary-button" id="save-profile">Save Profile</button>
    </div>
  </div>
  
  <!-- Personal Information -->
  <div class="settings-section">
    <h3>Personal Information</h3>
    
    <div class="setting-group">
      <div class="setting-row">
        <div class="setting-label">Given Name</div>
        <div class="setting-control">
          <input type="text" id="given-name" placeholder="First/Given Name" class="profile-input">
        </div>
      </div>
    </div>
    
    <div class="setting-group">
      <div class="setting-row">
        <div class="setting-label">Family Name</div>
        <div class="setting-control">
          <input type="text" id="family-name" placeholder="Last/Family Name" class="profile-input">
        </div>
      </div>
    </div>
  </div>
  
  <!-- Contact Information -->
  <div class="settings-section">
    <h3>Contact Information</h3>
    
    <div class="setting-group">
      <div class="setting-label">Email Addresses</div>
      <div class="setting-description">
        Add one or more email addresses. The first one will be used as your primary email.
      </div>
      <div id="email-container" class="array-field-container">
        <div class="array-field-header">
          <button class="control-button" id="add-email">
            <span class="button-icon">+</span>
            <span class="button-label">Add Email</span>
          </button>
        </div>
        <div id="email-fields" class="array-fields">
          <!-- Email fields will be added here -->
          <div class="array-item">
            <input type="email" class="profile-input email-input" placeholder="Email Address">
            <button class="remove-button">
              <span class="button-icon">-</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="setting-group">
      <div class="setting-row">
        <div class="setting-label">Phone Number</div>
        <div class="setting-control">
          <input type="tel" id="phone-number" placeholder="Phone Number" class="profile-input">
        </div>
      </div>
    </div>
  </div>
  
  <!-- Social Accounts -->
  <div class="settings-section">
    <h3>Social Accounts</h3>
    
    <div class="setting-group">
      <div class="setting-row">
        <div class="setting-label">X / Twitter</div>
        <div class="setting-control">
          <input type="text" id="x-account" placeholder="@username" class="profile-input">
        </div>
      </div>
    </div>
    
    <div class="setting-group">
      <div class="setting-row">
        <div class="setting-label">BlueSky</div>
        <div class="setting-control">
          <input type="text" id="bluesky-account" placeholder="@username" class="profile-input">
        </div>
      </div>
    </div>
    
    <div class="setting-group">
      <div class="setting-row">
        <div class="setting-label">WeChat</div>
        <div class="setting-control">
          <input type="text" id="wechat-account" placeholder="WeChat ID" class="profile-input">
        </div>
      </div>
    </div>
    
    <div class="setting-group">
      <div class="setting-row">
        <div class="setting-label">WhatsApp</div>
        <div class="setting-control">
          <input type="text" id="whatsapp-account" placeholder="WhatsApp ID" class="profile-input">
        </div>
      </div>
    </div>
    
    <div class="setting-group">
      <div class="setting-row">
        <div class="setting-label">GitHub</div>
        <div class="setting-control">
          <input type="text" id="github-account" placeholder="GitHub username" class="profile-input">
        </div>
      </div>
    </div>
  </div>
</div>